.kind-option {
    font-size: 20pt;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
}
.kind-option:active {
    text-shadow: 1px 1px 1px black, -1px -1px 1px black, 1px -1px 1px black, -1px 1px 1px black;
}
.kind-option:hover {
    text-shadow: 1px 1px 1px var(--gold), -1px -1px 1px var(--gold), 1px -1px 1px var(--gold), -1px 1px 1px var(--gold);
}
.kind-option-0 {
    color: var(--pc);
}
.kind-option-1 {
    color: var(--npc);
}
.kind-option-2 {
    color: var(--mon);
}
.kind-option-3 {
    color: var(--haz);
}
