.kind-option {
    font-size: 20pt;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
}
.kind-option:active {
    text-shadow: 1px 1px 1px black, -1px -1px 1px black, 1px -1px 1px black, -1px 1px 1px black;
}
.kind-option:hover {
    text-shadow: 1px 1px 1px var(--gold), -1px -1px 1px var(--gold), 1px -1px 1px var(--gold), -1px 1px 1px var(--gold);
}
.kind-option-0 {
    color: var(--pc-d);
}
.kind-option-1 {
    color: var(--npc-d);
}
.kind-option-2 {
    color: var(--mon-d);
}
.kind-option-3 {
    color: var(--haz-d);
}
.create-slot {
    height: 4rem;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    background-color: var(--crimson);
    grid-area: 1 / 1 / 1 / 3;
}
.create-slot > .button {
    grid-area: 1 / 2 / 1 / 3;
    padding: .5rem;
    width: 100%;
    height: 100%;
}
.create-slot > .button > button {
    width: 100%;
    height: 100%;
}
.create-slot .drawing-canvas {
    border-radius: var(--label-border-radius) 0 0 var(--label-border-radius);
}
.create-slot .entity-instance {
    transition: background-color .25s;
    padding: 5px;
}