.number-slot {
    align-items: flex-start;
    background-color: #f3f3f3;
    border: 1px solid gray;
    border-radius: 8px;
    display: flex;
    height: 100%;
    overflow: hidden;
}

.number-slot .slot-list {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.number-slot .slot-list .item {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity 0.3s;
    color: black;
    opacity: .25;
}

.slot-list .item.selected {
    opacity: 1;
}

.number-slot .value-view {
    align-items: center;
    display: flex;
    justify-content: center;
    color: black;
    cursor: pointer;
    width: 100%;
}