h1.marker-heading {
    font-size: 11pt;
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-align: center;
    color: var(--parchment);
    display: grid;
    height: 100%;
    width: 100%;
    filter: url(#rough-border);
    border: 5px solid black;
}