canvas.hidden {
    display: none;
}

canvas.drawing-canvas {
    max-height: 100%;
    max-width: 100%;
    border: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    cursor: crosshair;
    touch-action: none;
    background-image: url("/img-noise-128x128 base.png"),
      linear-gradient(to bottom right, var(--parchment-light), var(--parchment))
}

.drawing-container {
    flex-basis: 0;
    flex-shrink: 1;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

canvas {
    display: block;
}
