.init-slot-container {
    height: 4rem;
    background-color: var(--parchment);
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--parchment);
    overflow: visible;
    scroll-margin-block: 6rem;
}

.init-slot-container:nth-child(2n) .init-slot {
    background-color: var(--crimson-light);
}

.init-slot {
    transition: background-color .25s .25s;
    background-color: var(--crimson);
    height: 100%;
}

.init-content-status {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
    gap: var(--grid-gap);
    height: 100%;
}

.init-content-status > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--crimson);
    height: 100%;
    width: 100%;
}

.init-content-status > div:nth-child(2) {
    background-color: #483730;
}

.init-content-status > div:nth-child(3) {
    background-color: #3b2d28;
}

.init-content-status > div:nth-child(4) {
    background-color: #2b2828;
}

.entity-slot {
    position: absolute;
    left: 75px;
    height: 4rem;
    width: calc(500px * 2 / 3);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

:root {
    --npc: #82a687; /* Darker green */
    --pc: #7fa6b3; /* Darker blue */
    --mon: #8f554a; /* Darker brown */
    --haz: #b39f9f; /* Darker pink */
    --npc-d: #627a5f; /* Darker green */
    --pc-d: #5f7a86; /* Darker blue */
    --mon-d: #6b4137; /* Darker brown */
    --haz-d: #8f7a7a; /* Darker pink */
    --npc-l: #a3c2a8; /* Lighter green */
    --pc-l: #9fc1cc; /* Lighter blue */
    --mon-l: #ad756b; /* Lighter brown */
    --haz-l: #cfbebe; /* Lighter pink */
    --label-border-radius: 12px;
}

.grabber {
    user-select: none;
    height: 100%;
    flex-basis: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--crimson);
}

.grab-cursor {
    cursor: grab;
}

.label-wrapper {
    flex-basis: 200px;
    flex-grow: 0;
    flex-shrink: 0;
    height: 100%;
    border-radius: var(--label-border-radius) 0 0 var(--label-border-radius);

    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #fffd;
}

.label-wrapper > img {
    height: 100%;
    opacity: 80%;
}

.entity-instance-type-0 {
    background-color: var(--pc);
}

.entity-instance-type-1 {
    background-color: var(--npc);
}

.entity-instance-type-2 {
    background-color: var(--mon);
}

.entity-instance-type-3 {
    background-color: var(--haz);
}

.grid-gap {
    gap: var(--grid-gap);
}

.slot-holder {
    position: relative;
    display: flex;
    align-items: center;
}
