.init-slot-container {
    height: 4rem;
    background-color: var(--parchment);
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: var(--grid-gap);
    color: var(--parchment);
}

.init-slot {
    background-color: var(--crimson);
    height: 100%;
}

.init-content-status {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
    gap: var(--grid-gap);
    height: 100%;
}

.init-content-status > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--crimson);
    height: 100%;
    width: 100%;
}

.init-content-status > div:nth-child(2) {
    background-color: #483730;
}

.init-content-status > div:nth-child(3) {
    background-color: #483730;
}

.init-content-status > div:nth-child(4) {
    background-color: #2b2828;
}

.init-content > *:nth-child(2n) .init-slot {
    background-color: var(--crimson-light);
}

.entity-slot {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}