.magnet {
    position: fixed;
    z-index: 99;
    width: 50px;
    height: 50px;
}
.magnet:hover {
    cursor: grab;
}
.magnet .dragging {
    cursor: grabbing;
    filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.3));
}
.magnet .apply-transitions {
    transition: filter .3s, translate .15s;
}

.magnet .highlighted {
    z-index: 100;
    filter: brightness(1.3);
}