:root {
    --crimson: #4f1b1a;
    --crimson-light: #7f2b2a;
    --parchment: #eed2b0;
    --parchment-light: #f0dac0;
    --gold: #b28340;
    --grid-gap: 2px;
}

@font-face {
    font-family: "Breathe Fire";
    src: url("/Breathe Fire.otf");
}

* {
    box-sizing: border-box;
    user-select: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Breathe Fire", sans-serif;
    touch-action: none;
}

#root {
    margin: 0;
    padding: 0;
}

header, footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--crimson);
    color: var(--parchment);
    text-shadow: #333 2px 2px 2px;
    font-size: 2rem;
    height: 100px;
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: calc(100% - 200px);
    max-height: 100%;
    font-size: 1rem;
    flex-grow: 1;
    color: #333;
    margin: 0;
    padding: 0;
    border-top: var(--crimson) 3px solid;
    border-bottom: var(--crimson) 3px solid;
}

.container {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.container > * {
    margin: 0;
    padding: 0;
    width: 100%;
}

footer {
    border-top: var(--parchment) 3px solid;
    text-transform: uppercase;
}

header {
    border-bottom: var(--parchment) 3px solid;
}

main > * {
    height: 100%;
    flex-grow: 1;
}

canvas {
    border: 1px solid #333;
    background-color: peachpuff;
}

.rotated-text {
    transform: rotate(90deg);
    transform-origin: center center;
    position: absolute;
}

.grabbing {
    cursor: grabbing !important;
}

button {
    background-color: var(--btn-background-color);
    color: var(--btn-color);
    border: var(--btn-border);
    font-size: var(--btn-font-size);
    cursor: var(--btn-cursor);
    transition: var(--btn-transition);
    font: unset;
}

button:hover {
    background-color: var(--btn-hover-background-color);
    color: var(--btn-hover-color);
}

button:active {
    background-color: var(--btn-active-background-color);
    color: var(--btn-active-color);
    border-color: var(--btn-active-border-color);
}

.hidden {
    display: none;
}

:root {
    --btn-background-color: var(--crimson);
    --btn-color: var(--parchment);
    --btn-border: 2px solid var(--parchment);
    --btn-font-size: 1.5rem;
    --btn-cursor: pointer;
    --btn-transition: background-color 0.3s, color 0.3s, border-color 0.3s;

    --btn-hover-background-color: var(--crimson-light);
    --btn-hover-color: var(--parchment-light);

    --btn-active-background-color: var(--crimson);
    --btn-active-color: white;
    --btn-active-border-color: var(--parchment-light);
}

.start-encounter-button {
/* Button's initial styles */
    height: 50px; /* Initial button height */
    width: 250px;
    margin: 0 auto; /* Center the button */
    background-color: #5d3535; /* Example colour */
    color: white;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    z-index: 100;

    /* Apply transitions to properties that will change */
    transition: all 0.4s ease-in-out;
}
